 /* CSS related to looking of calculator */
 body{
    background-color: lightskyblue;
 }
 
 .Calcultor-box{
    display: grid;

 }
.values{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    width: 200px;
    border: 1px solid black;
}




/* making the page resposnive on all screen */
@media (min-width: 350px) and (max-width: 1500px) {
    
}

@media (min-width: 480px) and (max-width: 768px) {
    
}
  



 /* CSS related to function of calculator */
.pressed{
    box-shadow: 0 0  50px rgba(0, 0, 0, 0.1); 
    background-color: black; 
    transform: scale(0.98); 
    
}